@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.splide__pagination {
    bottom: -2em;
}

.splide__pagination__page.is-active {
    background: #FEB1D5;
    transform: scale(1.4);
    z-index: 1;
}

.splide__pagination__page {
    background: #B0AEEF;
}

.splide__arrows .splide__arrow {
    background-color: #88EADA;
}